<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{%= name %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      {% if (bootstrap) { %}
      <link rel="stylesheet" href="styles/bootstrap.css">
      {% } %}
      <link rel="stylesheet" href="styles/app.css">
  </head>
  <body> 
    Welcome to towelie!

    {% if (require) { %}
    <!-- Load Require & Config -->
    <script>var require = {baseUrl: "/"};</script>
    <script src='scripts/vendor/require.js'></script>
    <script src='scripts/vendor/require.config.js'></script>

    <!-- Your Towelie App entry point -->
    <script>
      require(['scripts/main'], function() {
        
      });
    </script>
    {% } else { %}
      <script src='scripts/main.js'></script>
    {% } %}
  </body>
</html>