@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\000031}}
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\000035}}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\000038}}
.container-narrow > hr {
  margin: 30px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\0000311}}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\0000314}}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\0000317}}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\0000321}}
.marketing {
  margin: 60px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/eric\.clifford\/Dev\/TowelieApp3\/app\/styles\/style\.sass}line{font-family:\0000323}}
.marketing p + h4 {
  margin-top: 28px;
}
